
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html, body {
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
  height:100%;
  margin:0px;
  padding:0px;
  width:100%;
  overflow: hidden;
  font-family: verdana;
}

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
#panzoom { text-align: center; margin-left: -1px; margin-top: -1px; }

#box { 
  background: tomato; 
  width: 10px; 
  height: 10px; 
  position: absolute;  
}

#crosshair {
  position: fixed;
  display: block;
  width: 40px;
  height: 40px;
  z-index:2;
  left: 50%;
  margin-left: -20px;
  top: 0;
  margin-top: -20px;
}
#crosshair img {
    position: absolute;
    top: 12px;
    right: 20px;
}
.runePeep {
    position: absolute;
    left: -16px;
    margin-top: -45%;
    z-index: 10;
}
.runePeep img{
  width: 100%;
}

#menuBottom {
  position: fixed;
  bottom: 0;
  height: 50px;
  left: 0;
  right: 0;
  z-index: 3;
  max-width: 100%;
  text-align: center;
}
#menuBottom div  {
  display: inline-block;
}

#fire {
  position: absolute;
  left: 10px;
  top: 0;
  width: 40px;
}
#find {
  position: absolute;
  right: 10px;
  top: 0;
  width: 40px;
}

.inputWrapper {
  position: absolute;
  height: 34px;
  background: #fff;
  vertical-align: top;
  padding: 0 40px 0 5px;
  text-align: left;
  z-index: 5;
  border-radius: 10px;
  left: 60px;
  top: 0;
  right: 60px;
  border: solid 2px #160438;
}
.inputWrapper:after 
{
content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 9px 15px 3px;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: -2;
    top: -15px;
    left: 11px;
}

.inputWrapper:before 
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0px 13px 19px 4px;
    border-color: #160438 transparent;
    display: block;
    width: 0;
    z-index: -3;
    top: -19px;
    left: 9px;
}

input {
  display: inline-block;
    width: 48%;
    height: 23px;
    border-radius: 7px;
    border: none;
    margin: 5px 0 0 0;
    text-align: left;
    vertical-align: top;
    outline: none;
    font-size: 15px;
    background: #F5EFDE;
    text-align: center;
} 

#share {
  position: absolute;
  top: 7px;
  right: 7px;
}

#suggestions{
  position: absolute;
  width: 100%;  
  bottom: 20px;
  left: 0;
  right: :0;
  border-radius: 20px 20px 0 0; 
  background: #fff;
  padding: 5px 40px 0 5px;
  z-index: -1;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;  
}
.sugBox{
  width: 48%;
  border-radius: 15px;
  height: 30px;
  text-align: center;
  font-size: 15px !important;
  line-height: 30px;
  display: inline-table !important;
  margin-bottom: 10px;
  background: #FFDE85;
  margin-right: 5px;
  padding: 0;
}
.sugBox.one{
  display: table !important;
}
.menu{
  display: none;
}
.menubtn{
  position: fixed;
  top: 10px;
  left: 10px;
  height: 40px;
  width: 40px;
  z-index: 3;
}