
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html, body {
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
  height:100%;
  margin:0px;
  padding:0px;
  width:100%;
  overflow: hidden;
  font-family: verdana;
}

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
#panzoom { text-align: center; margin-left: -1px; margin-top: -1px; }

#box { 
  background: tomato; 
  opacity: 0.5; 
  width: 10px; 
  height: 10px; 
  position: absolute;  
}

#crosshair {
  position: fixed;
  display: block;
  width: 40px;
  height: 40px;
  z-index:2;
  left: 50%;
  margin-left: -20px;
  top: 0;
  margin-top: -20px;
}
#crosshair img {
    position: absolute;
    top: -10px;
    right: 85px;
    -ms-transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    width: 65px;
}

#menuBottom {
  position: fixed;
  bottom: 0;
  height: 50px;
  left: 0;
  right: 0;
  z-index: 3;
  max-width: 100%;
  background: gold;
  text-align: center;
}
#menuBottom:before {
  content: '';
  position: absolute;
  height: 15px;
  background: gold;
  left: 0;
  right: 0;
  top: -14px;
  border-radius: 70%/100% 100% 0 0;
}
#menuBottom div  {
  display: inline-block;
}
input {
 display: inline-block;
    width: 80px;
    height: 30px;
    border-radius: 15px;
    border: none;
    margin: 5px 0 0 0;
        text-align: left;
    vertical-align: top;
        outline: none;
    font-size: 15px;
    background: #FFDE85;
    text-align: center;
}
#share {
  position: absolute;
  top: 5px;
  right: 5px;
}
.inputWrapper {
  position: relative;
    width: 170px;
    height: 40px;
    background: #F9EFBC;
    vertical-align: top;
    margin: 0 5px;
    padding: 0 40px 0 5px;
    text-align: left;
    z-index: 5;
    border-radius: 20px;
}
#suggestions{
  position: absolute;
  width: 205px;;  
  bottom: 20px;
  left: 0;
  right: :0;
  border-radius: 20px 20px 0 0; 
  background: #F9EFBC;
  padding: 5px 5px 15px 5px;
  z-index: -1;
}
.sugBox{
  width: 80px;
  border-radius: 15px;
  height: 30px;
  text-align: center;
  font-size: 15px !important;
  line-height: 30px;
  display: inline-table !important;
  margin-bottom: 10px;
  background: #FFDE85;
  margin-right: 5px;
  padding: 0;
}
.sugBox.one{
  display: table !important;
}
.menu{
  display: none;
}
.menubtn{
  position: fixed;
    top: 10px;
    left: 10px;
    height: 40px;
    width: 40px;
    z-index: 3;
}